name: Deploy to GCP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v3

    # Step 2: Set up Google Cloud SDK
    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        project_id: kafka-flink-pipeline

    # Step 3: Authenticate with Google Cloud
    - name: Authenticate with GCP
      run: gcloud auth activate-service-account --key-file=${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

    # Step 4: Install PowerShell
    - name: Install PowerShell
      run: |
        sudo apt-get update
        sudo apt-get install -y powershell

    # Step 5: Create the .env file
    - name: Create .env file
      run: |
        echo "${{ secrets.ENV_FILE_CONTENT }}" > deploy/gcp/.env

    # Step 6: Run the deployment script
    - name: Run deployment script
      run: |
        cd deploy/gcp
        pwsh ./start_deployment.ps1